<div class="container-fluid">
    <div class="row flex-nowrap">
      <!-- Sidebar -->
      <div 
        [class.collapsed]="isSideBarCollapsed" 
        class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark position-sticky top-0" 
        style="height: 100vh;">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-sm-2 pt-2 text-white min-vh-100">
          
          <!-- Sidebar Toggle (only visible on smaller screens) -->
          <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none w-100">
            <button class="btn btn-outline-light mb-2 mt-3 ml-0 " (click)="toggleSideBar()" style="border: none; background: transparent; padding-left: 0px;">
              <img src="../../../assets/sidenav/download.png" 
                   alt="Toggle Sidebar" style="width: 30px; height: 30px;border-radius: 5px;">
            </button>
          </a>
  
          <!-- Sidebar Menu -->
          <ul 
            *ngIf="!isSideBarCollapsed" 
            [ngClass]="{'expanded': !isSideBarCollapsed, 'collapsed': isSideBarCollapsed}" 
            class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" 
            id="menu">
            <li>
              <a routerLink="/adminhome" class="nav-link px-0 align-middle text-light">
                <i class="fs-4 bi-speedometer2"></i> 
                <span class="ms-1 d-none d-sm-inline">Dashboard</span>
              </a>
            </li>
            <li>
              <a routerLink="/adminusers" class="nav-link px-0 align-middle text-light">
                <i class="fs-4 bi-table"></i> 
                <span class="ms-1 d-none d-sm-inline">Users</span>
              </a>
            </li>
            <li>
              <a routerLink="/adminproducts" class="nav-link px-0 align-middle text-light">
                <i class="fs-4 bi-bootstrap"></i> 
                <span class="ms-1 d-none d-sm-inline">Products</span>
              </a>
            </li>
            <li>
              <a routerLink="/addproducts" class="nav-link px-0 align-middle text-light">
                <i class="fs-4 bi-grid"></i> 
                <span class="ms-1 d-none d-sm-inline">Add Product</span>
              </a>
            </li>
            <li>
              <a routerLink="/login" class="nav-link px-0 align-middle text-light">
                <i class="fs-4 bi-people"></i> 
                <span class="ms-1 d-none d-sm-inline">Sign Out</span>
              </a>
            </li>
          </ul>
  
          <!-- Collapsed Sidebar Icons -->
          <ul *ngIf="isSideBarCollapsed"
              class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
            <li class="mt-5">
              <a routerLink="/adminhome"><img class="navicon" src="../../../assets/sidenav/dashboard1.png" alt=""></a>
            </li>
            <li class="mt-5">
              <a routerLink="/adminusers"><img class="navicon" src="../../../assets/sidenav/user1.png" alt=""></a>
            </li>
            <li class="mt-5">
              <a routerLink="/adminproducts"><img class="navicon" src="../../../assets/sidenav/productlist2.png" alt=""></a>
            </li>
            <li class="mt-5">
              <a routerLink="/addproducts"><img class="navicon" src="../../../assets/sidenav/addproduct1.png" alt=""></a>
            </li>
            <li class="mt-5">
              <a routerLink="/login"><img class="navicon" src="../../../assets/sidenav/sign.jpg" alt=""></a>
            </li>
          </ul>
        </div>
      </div>
  
      <!-- Main Content Area -->
      <div class="col py-3">
        <div class="container">
          <div class="col bg-light p-5 rounded shadow">
            <form class="form-horizontal" (ngSubmit)="onFormSubmitted()" #addproductForm="ngForm">
              <!-- Form Name -->
              <legend class="text-center text-dark">PRODUCTS</legend>
  
              <!-- PRODUCT ID -->
              <div class="form-group row mb-3">
                <label class="col-md-4 col-form-label text-md-right text-dark" for="product_id">PRODUCT ID</label>
                <div class="col-md-6">
                  <input id="product_id" name="productid" placeholder="PRODUCT ID" class="form-control" required="" type="number" ngModel>
                </div>
              </div>
  
              <!-- CATEGORY -->
              <div class="form-group row mb-3">
                <label class="col-md-4 col-form-label text-md-right text-dark" for="producttype">CATEGORY</label>
                <div class="col-md-6">
                  <input id="producttype" name="type" placeholder="PRODUCT CATEGORY" class="form-control" required="" type="text" ngModel>
                </div>
              </div>
  
              <!-- PRODUCT NAME -->
              <div class="form-group row mb-3">
                <label class="col-md-4 col-form-label text-md-right text-dark" for="product_name">PRODUCT NAME</label>
                <div class="col-md-6">
                  <input id="product_name" name="productname" placeholder="PRODUCT NAME" class="form-control" required="" type="text" ngModel>
                </div>
              </div>
  
              <!-- PRODUCT PRICE -->
              <div class="form-group row mb-3">
                <label class="col-md-4 col-form-label text-md-right text-dark" for="product_price">PRODUCT PRICE</label>
                <div class="col-md-6">
                  <input id="product_price" name="productprice" placeholder="PRODUCT PRICE" class="form-control" required="" type="number" ngModel>
                </div>
              </div>
  
              <!-- PRODUCT IMAGE -->
              <div class="form-group row mb-3">
                <label class="col-md-4 col-form-label text-md-right text-dark" for="product_image">PRODUCT IMAGE</label>
                <div class="col-md-6">
                  <input id="product_image" name="productimage" placeholder="IMAGE URL" class="form-control" required="" type="text" ngModel>
                </div>
              </div>
  
              <!-- PRODUCT QUANTITY -->
              <div class="form-group row mb-3">
                <label class="col-md-4 col-form-label text-md-right text-dark" for="product_quantity">PRODUCT QUANTITY</label>
                <div class="col-md-6">
                  <input id="product_quantity" name="productquantity" placeholder="PRODUCT QUANTITY" class="form-control" required="" type="number" ngModel>
                </div>
              </div>
  
              <!-- Button -->
              <div class="form-group row">
                <div class="col-md-4 offset-md-4">
                  <button id="singlebutton" type="submit" name="singlebutton" class="btn btn-dark w-100">Add Product</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  