
  
  .col-auto.collapsed {
    width: 60px;
    transition: width 0.3s ease;
  }
  
  .col-auto {
    transition: width 0.3s ease;
  }
  
  .expanded {
    padding-left: 10px;
    transition: padding-left 0.3s ease;
  }
  
  .collapsed {
    padding-right: 100px;
    transition: padding-left 0.3s ease;
  }
  
  @media (max-width: 767px) {
  
    .button {
      display: block;
    }
  }
  
  .navicon {
    width: 30px;
    height: 30px;
    border-radius: 50px;
  }

.navicon:hover{
  transform: scale(1.1);    
  transition: all 0.1s ease-in-out;
}
  button:hover {
    transform: scale(1.1);    
    transition: all 0.2s ease-in-out;
  }
